/***** BASE STYLES *****/

body {
    background-color: #282828; 
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    }

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    }

   
/***** GRID *****/

.full-width {
    /*background-color: rgba(255, 0, 0, 0.4);*/
    background-color: #1f202b;
    margin: 0 auto;
    overflow: auto;
    width: 1400px; 
    /*height: 450px;*/
    }

.half-width {
    /*background-color: rgba(230, 72, 177, 0.4);*/
    float: left;
    /*height: 400px;*/
    width: 700px;
}

.third-width { 
    float: left;
    text-align: center;
    width: 466px; 
}


/*****HEADER*****/

header .full-width #headline {
    background: url('../img/hero-background.png');
    background-size: cover;
    height: 700px;
    }

header h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 20px 0 20px 30px;
    text-decoration: none;

    }
           
header h2 {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 72px; 
    font-weight: normal;
    margin: 0;
    padding-top: 310px;
    }

nav {
   /* float: right;    */
   padding-left: 180px;
}

nav ul li {
    display: inline-block;
  }

nav ul li a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;     
    margin: 0; 
    padding: 20px 30px 20px 10px;
    text-decoration: none;
    }

header h2 span {
    color: mediumvioletred;
}

/**** PORTFOLIO*****/

main h2 { 
    background-color: rgba(230, 72, 177, 0.4);
    color:#f70074;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    text-align: center;
    }


#portfolio p, #portfolio h3 {
    color: white; 
    padding-left: 100px;
    }

#portfolio h3 {
    padding-top: 100px;
}

#portfolio-cube {
    
    padding: 100px 0px 100px 100px;
}

#display-image {  
    width: 400px;
}


/*****ABOUT*****/

#about .full-width {
    background: url('../img/about-me.png');
    background-size: cover;
    height: 550px;
    
    /*background-size: cover;*/
  }

#about img {
    height: 400px;
}

#about h3 {
    color: black;
    padding-left: 100px;
}

#about p {
    color: black; 
    padding-left: 100px;
    }

  /*****CONNECT*****/

#connect h3 {
    color: white;
    font-weight: 700;
    text-align: center;
    }

#connect p {
    color: white; 
    text-align: center;
    }

#connect ul {
    list-style: none;
    text-align: center;
}

#connect ul li {
    display: inline-block;
}

#connect ul img {
    font-size: 32px;
    padding-right: 48px;
    }

#connect a {    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    }
    
h4 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}