/***** BASE STYLES *****/

body {
    background-color: #282828; 
  
}

/***** GRID *****/

.full-width {
    /*background-color: rgba(255, 0, 0, 0.4);*/
    background-color: #1f202b;
    margin: 0 auto;
    overflow: auto;
    width: 1400px; 
    /*height: 450px;*/
    }

.half-width {
    /*background-color: rgba(230, 72, 177, 0.4);*/
    float: left;
    /*height: 400px;*/
   width: 690px;
}

.third-width {
    /*background-color: rgba(79, 240, 73, 0.4);*/
    float: left;
    text-align: center;
    width: 460px; 
}


/*****HEADER*****/

header .full-width #headline {
    background: url('../img/hero-background.png');
    background-size: cover;
    height: 700px;
    }

header h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    /*padding: 20px 0 20px 25px;*/
    text-decoration: none;

    }
           
header h2 {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 72px; 
    padding-top: 150px;
    }

nav {
    float: right;    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;      
    padding-left: 80px;
    text-decoration: none;
    }

header h2 span {
    color: mediumvioletred;
}

/**** PORTFOLIO*****/

main h2 { 
    color: green;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    text-align: center;
    }

main h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-left: 100px;
    }

main p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-left: 100px;
    }


#portfolio p, #portfolio h3 {
    color: white; 
    }

.display-image {
    padding-left: 100px;
    width: 400px;
}


/*****ABOUT*****/

#about .full-width {
    background: url('../img/about-me.png');
    background-size: cover;
    height: 550px;
    
    /*background-size: cover;*/
  }

#about img {
    height: 400px;
}

#about p {
    color: black; 
}

  /*****CONNECT*****/

#connect {
    
}

#connect ul {
    list-style: none;
    text-align: center;
}

#connect ul li {
    display: inline-block;
}

#connect ul img {
    font-size: 32px;
    padding-right: 48px;
    }
    
h4 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}